#page-content-wrapper{
    margin-top: 60px;
}

#navigation li>a, .navbar-brand{
    padding-left: 30px;
}

.navbar-brand{
    letter-spacing: 0.2em;
    font-size: 1.5em;
}

#navigation li{
    color:#999999;
}

#navigation li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

#navigation a>i{
    padding-right: 10px;
}

#navigation li a:active,
#navigation li a:focus {
    text-decoration: none;
}

.blog-post{
    margin-bottom: 30px;
}

.blog-post h1{
    font-size: 1.5em;
}

.blog-post img{
    display: block;
    text-align: center;
}

.blog-post a{
    color: #333;
    text-transform: capitalize;
}

.blog-post a:hover{
    text-decoration: none;
    color: rgba(36, 35, 35, 0.86);
}

.blog-post .post-author, .blog-post .post-time{
    padding-right: 10px;
}

img{
    max-width: 100%;
}

.hero_image{
    width: 620px;
    height: 230px;
    margin: 5px 0px 15px 0;

}

/* Random posts section*/

#related-posts{
    margin-top: 40px;
    border-top: #DBDBDB;
    background: #f4f4f4;
    padding: 5px;
    margin-bottom: 0;
}

#related-posts h2{
  font-size: 1.5em;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 0.25em;
}

.menu>li>a{
    letter-spacing: 0.1em;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.thumbnail img{
    height: 170px;
    width: 100%;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.7);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
    text-transform: capitalize;
    letter-spacing: 0.2em;
    font-size: 0.9em;
}

.caption h4{
    padding-top: 10px;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    font-size: 1.1em;
    font-weight: 300;
}
.caption i{
    padding-top: 15px;
    font-size: 2em;
}






@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

  
    #sidebar-wrapper {
        width: 250px;
    }

    
    #page-content-wrapper, #related-posts {
        padding: 20px;
        position: relative;
    }
    #related-posts{
       padding-top: 0px;
    }
    #navigation{
        float: none;
        width: 250px;
        height: 100%;

    }

    #navigation li{
        width: 250px;
        float: none;
    }

    .navbar-brand{
        width:250px;
        background: rgb(47, 47, 47);
    }



    #page-content-wrapper{
         margin-top: 0px;
    }

    #nav-collapse li:hover{
        color:#fff;
        background-color: 
    }

    #nav-collapse>.menu{
        margin-top: 20px;
    }

    .blog-post h1{
        font-size: 1.8em;
    }

}