#page-content-wrapper{
    margin-top: 60px;
}

#navigation li>a, .navbar-brand{
    padding-left: 30px;
}

#navigation li{
    color:#999999;
}

#navigation li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

#navigation a>i{
    padding-right: 10px;
}

#navigation li a:active,
#navigation li a:focus {
    text-decoration: none;
}

.blog-post{
    margin-bottom: 30px;
}

.blog-post img{
    display: block;
    text-align: center;
}

.blog-post a{
    color: #333;
    text-transform: capitalize;
}

.blog-post a:hover{
    text-decoration: none;
    color: rgba(36, 35, 35, 0.86);
}

.blog-post .post-author, .blog-post .post-time{
    padding-right: 10px;
}

img{
    max-width: 100%;
}

.hero_image{
    width: 620px;
    height: 230px;
    margin: 5px 0px 15px 0;

}



@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

  
    #sidebar-wrapper {
        width: 250px;
    }

    
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #navigation{
        float: none;
        width: 250px;
        height: 100%;

    }

    #navigation li{
        width: 250px;
        float: none;
    }

    #page-content-wrapper{
         margin-top: 0px;
    }

    #nav-collapse li:hover{
        color:#fff;
        background-color: 
    }

}